.input{
        background-color: variables.$form-bg;
        border-radius: 0.313rem;
        padding: 0.5rem;
        border: 0.063rem solid variables.$form-outline;
        margin-bottom: 1rem;
        @include style.body-copy(small);

        &--comment {
            resize: none;
            height: 6rem;
        }
        &::placeholder{
            @include style.body-copy(small);
            color: variables.$primary-txt;
            font-family: "AvenirNext", "Verdana", "Sans-serif";
        }
        &:focus {
            //border-color: variables.$form-bg;
            outline: 0.125rem solid variables.$form-outline-active;
          }
        &--error{
            outline: 0.125rem solid variables.$form-error;
            &::placeholder{
                color: variables.$form-error;
            }
        }
        &--desc{
            resize: none;
            height: 6rem;
        }
}