@mixin page-header($size) {
    @if $size == "small" {
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: 700;
    } @else if $size == "large" {
      font-size: 2.063rem;
      line-height: 2.75rem;
      font-weight: 700;
    }
  }

  @mixin section-header($size) {
    @if $size == "small" {
      font-size: 0.75rem;
      line-height: 1.25rem;
      font-weight: 700;
    } @else if $size == "large" {
        font-size: 0.75rem;
        line-height: 1.25rem;
        font-weight: 700;
    }
  }

  @mixin sub-header($size) {
    @if $size == "small" {
      font-size: 0.813rem;
      line-height: 1.125rem;
      font-weight: 700;
    } @else if $size == "large" {
      font-size: 0.875rem;
      line-height: 1.375rem;
      font-weight: 700;
    }
  }

  @mixin body-copy($size) {
    @if $size == "small" {
        font-size: 0.813rem;
        line-height: 1.125rem;
      font-weight: 400;
    } @else if $size == "large" {
        font-size: 0.875rem;
        line-height: 1.375rem;
      font-weight: 400;
    }
  }

  @mixin label-txt($size) {
    @if $size == "small" {
      font-size: 0.625rem;
      line-height: 1.25rem;
      font-weight: 700;
    } @else if $size == "large" {
      font-size: 0.75rem;
      line-height: 1.25rem;
      font-weight: 700;
    }
  }
  
  @mixin button-text($size) {
    @if $size == "small" {
      font-size: 0.625rem;
      line-height: 1.25rem;
      font-weight: 700;
    } @else if $size == "large" {
      font-size: 0.75rem;
      line-height: 1.25rem;
      font-weight: 700;
    }
  }

  @mixin header-padding($size){
    @if $size == "small"{
        padding: 1.5rem 0 1rem;
    }
    @else if $size == "large"{
        padding: 2.25rem 0 1.5rem;
    }
}

@mixin section-padding($screen){
    @if $screen == "mobile"{
        padding: 0 1rem;
    }
    @else if $screen == "tablet"{
        padding: 0 2.25rem;
    }
    @else if $screen == "desktop"{
      //width =888px because 12 cols x 63 px and 11 gutters x 24 px but using width = 1020px to match the mockup at the desktop breakpoint
      width: 1020px;
        margin: auto;
        padding: 0;
    }
}