@use '../../styles/partials/variables';
@use '../../styles/partials/mixins' as style;
@use '../../styles/partials/media-queries' as mediaQuery;


.upload-video{
    display: flex;
    flex-direction: column;
    @include style.section-padding("mobile");
    border-top: 0.063rem solid variables.$divider-line;
    &__heading{
        @include style.page-header(small);
        @include style.header-padding(small);
    }
    &__thumbnail-label{
        text-transform: uppercase;
        @include style.label-txt(small);
        color: variables.$secondary-txt;
    }
    &__label{
        text-transform: uppercase;
        @include style.label-txt(small);
        color: variables.$secondary-txt;
    }
    &__img{
        width: 100%;
        border-radius: 0.25rem;
        object-fit: cover;
        margin-bottom: 1rem;
    }
    &__right{
        display: flex;
        flex-direction: column;
    }
    &__input{
        background-color: variables.$form-bg;
        border-radius: 0.313rem;
        padding: 0.5rem;
        border: 0.063rem solid variables.$form-outline;
        margin-bottom: 1rem;
        @include style.body-copy(small);

        &::placeholder{
            @include style.body-copy(small);
            color: variables.$primary-txt;
            font-family: "AvenirNext", "Verdana", "Sans-serif";
        }
        &:focus {
            //border-color: variables.$form-bg;
            outline: 0.125rem solid variables.$form-outline-active;
          }
        &:invalid{
            outline: 0.125rem solid variables.$form-error;
        }
        &--desc{
            resize: none;
            height: 6rem;
        }
    }
    &__form{
        &-actions{
            display: flex;
            flex-direction: column;
        }
    }
}

@include mediaQuery.tablet{
    .upload-video{
        @include style.section-padding("tablet");
        &__right{
            border-bottom: 0.063rem solid variables.$divider-line;
        }
        &__heading{
            @include style.page-header(large);
            @include style.header-padding(large);
            border-bottom: 0.063rem solid variables.$divider-line;
            padding-bottom: 1rem;
        }
        &__container{
            margin-top: 1rem;
        }
        &__thumbnail-label{
            @include style.label-txt(large);
        }
        &__label{
            @include style.label-txt(large);
        }
        &__img{
            width: 50%;
        }
        &__form{
            &-actions{
                margin: 1rem 0;
                gap: 1rem;
                flex-direction: row-reverse;
                justify-content: flex-start;
            }
        }
    }
}

@include mediaQuery.desktop{
    main{
        border-top: 0.063rem solid variables.$divider-line;
    }
    .upload-video{
        border: none;
        @include style.section-padding("desktop");
        &__container{
            display: flex;
            flex-direction: row;
            gap: 1rem;
            border-bottom: 0.063rem solid variables.$divider-line;
        }
        &__img{
            width: 20rem
        }
        &__right{
            width: 100%;
            border: none;
        }
    }
}