@use '../../styles/partials/variables';
@use '../../styles/partials/mixins' as style;
@use '../../styles/partials/media-queries' as mediaQuery;

.comment{
    display: flex;
    flex-direction: row;
    padding: 1rem 0;
    border-bottom: 0.0625rem solid variables.$divider-line;
    gap: 1rem;
    color: variables.$primary-txt;
    
    &__avatar{
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 50%;
        background-color: variables.$divider-line;
    }

    &__container{
        display: flex;
        flex-wrap: wrap;
        flex: 1;
    }
    &__sub-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 0.75rem;
    }
    &__name{
        @include style.sub-header(small);
    }
    &__date{
        @include style.body-copy(small);
        color: variables.$secondary-txt;
    }
    &__txt{
        @include style.body-copy(small);
    }
}

@include mediaQuery.tablet{
    .comment{
    &__name{
        @include style.sub-header(large);
    }
    &__date{
        @include style.body-copy(large);
    }
    &__txt{
        @include style.body-copy(large);
    }
}
}

@include mediaQuery.desktop{
    .comment{
        padding-right: 1rem;
        gap: 1.5rem;
    }
}