@use '../../styles/partials/variables';
@use '../../styles/partials/mixins' as style;
@use '../../styles/partials/media-queries' as mediaQuery;

.comments{
    display: flex;
    flex-direction: column;
    @include style.section-padding("mobile");
    color: variables.$primary-txt;
    

    &__count{
        @include style.sub-header(small);
    }

    &__top{
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        padding-top: 1rem;
        padding-bottom: 0.5rem;
        border-bottom: 0.063rem solid variables.$divider-line;
    }
    &__avatar{
        background-image: url("../../assets/images/Mohan-muruge.jpg");
        background-size: cover;
        background-position: center left;
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 50%;
        margin-top: 1rem;
    }
    &__form{
        display: flex;
        flex-direction: column;
        width: 100%;
        flex-wrap: wrap;

        &-container{
            display: flex;
            flex-direction: column;
            margin-bottom: 0.5rem;
        }
    }
    &__label{
        text-transform: uppercase;
        @include style.label-txt(small);
        color: variables.$secondary-txt;
    }
}
@include mediaQuery.tablet{
    .comments{
        @include style.section-padding("tablet");s
        &__count{
            @include style.sub-header(large);
        }
        &__top{
            gap: 1rem;
            align-items: flex-end;
            flex-direction: row;
            width: 100%;
            padding: 1.5rem 0;
        }
        &__form{
            flex-direction: row;
            align-items: flex-end;
            gap: 1rem;
            &-container{
                flex: 1;
                margin: 0;
            }
        }
        &__label{
            @include style.label-txt(large);
            
        }
    }
}

@include mediaQuery.desktop{
    .comments{
        padding: 0;
        &__top{
            padding-right: 1.5rem;
            gap: 1.5rem;
        }
    }
}