@use "../../styles/partials/variables";
@use "../../styles/partials/mixins" as style;
@use "../../styles/partials/media-queries" as mediaQuery;

.primary-nav {
  @include style.section-padding("mobile");
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: variables.$primary-bg;
  margin: 1rem 0rem;

  &__logo {
    max-width: 7.5rem;
    max-height: 1.563rem;

    &-link {
      max-width: 7.5rem;
      max-height: 1.563rem;
      margin-bottom: 1rem;
    }
  }
  &__container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
  }

  &__search {
    border: 0.063rem solid variables.$form-outline;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    flex: 1;
    justify-content: space-between;
    gap: 0.5rem;
    height: 100%;
    background-color: variables.$form-bg;

    &:focus-within {
      border-color: variables.$form-bg;
      outline: 0.125rem solid variables.$form-outline-active;
    }
    &-input {
      border: none;
      @include style.body-copy(small);
      flex: 1;
      background-color: variables.$form-bg;

      &:focus {
        outline: none;
      }
    }
  }
  &__avatar {
    background-image: url("../../assets/images/Mohan-muruge.jpg");
    background-size: cover;
    background-position: center left;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
  }
}

@include mediaQuery.tablet {
  .primary-nav {
    @include style.section-padding("tablet");
    flex-direction: row;
    justify-content: space-between;
    margin: 1.5rem 0;
    &__logo {
      &-link {
        margin: 0;
      }
    }
    &__container {
      flex-direction: row;
      justify-content: flex-end;
      flex-wrap: nowrap;
      gap: 1.5rem;
    }
    &__search {
      flex: none;
      width: 15rem;
      height: 2.5rem;

      &-input {
        @include style.body-copy(large);
      }
    }
    &__avatar {
      height: 2.5rem;
      width: 2.5rem;
    }
  }
}

@include mediaQuery.desktop {
  .primary-nav {
    @include style.section-padding("desktop");
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
