@use '../../styles/partials/mixins' as style;
@use '../../styles/partials/variables';
@use '../../styles/partials/media-queries' as mediaQuery;
.video-details{
    display: flex;
    flex-direction: column;
    @include style.section-padding("mobile");
    color: variables.$primary-txt;

    &__heading{
        @include style.page-header(small);
        @include style.header-padding(small);
    }

    &__container{
        display: flex;
        justify-content: space-between;
        border-top: 0.0625rem solid variables.$divider-line;
        border-bottom: 0.0625rem solid variables.$divider-line;
        @include style.body-copy(small);
        color: variables.$secondary-txt;
        padding: 1rem 0;
    }

    &__info{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        
    }
    &__channel{
        color: variables.$primary-txt;
        @include style.section-header(small);
        font-weight: 600;
        
    }
    &__date{
    }
    &__numbers{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    &__views{
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
    }
    &__likes{
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
    }
    &__description{
        padding: 1rem 0;
        @include style.body-copy(small);
    }
}

@include mediaQuery.tablet{
    .video-details{
        @include style.section-padding("tablet");
        &__heading{
            @include style.page-header(large);
            @include style.header-padding(large);
            padding-bottom: 0;
        }
        &__container{
            border-top: 0;
            @include style.body-copy(large);
            padding-bottom: 0.5rem;
            margin-bottom: 0.5rem;
        }
        &__info{
            flex-direction: row;
            gap: 1.5rem;
        }
        &__channel{
            @include style.section-header(large);
        }
        &__numbers{
            flex-direction: row;
            gap: 1.5rem;
        }
        &__description{
            @include style.body-copy(large);
        }
    }
}